.projects {
  background-color: #fff;
  position: relative;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 3fr));
  gap: 2rem;
  margin-top: 3rem;
}

.project-box {
  font-family: "VT323", monospace;
  font-size: 1.3rem;
  background-color: transparent;
  border: 3px solid var(--cherry-blossom-pink);
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.2s;
  text-decoration: none;
  color: var(--cherry-blossom-pink);
  width: auto;
  height: auto;
  display: inline-block;
}

.project-box:hover {
  transform: translateY(-5px);
  background-color: var(--accent-pink);
}
.tech-icons {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.tech-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  background: none;
  border: none;
  color: var(--cherry-blossom-pink);
}

.tech-icon i {
  font-size: 1.2rem;
  color: var(--cherry-blossom-pink);
}
.project-title {
  color: var(--slithly-dark-cherry-blossom-pink);
  font-size: 1.8rem;
}
