html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fffafc;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

.snap-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.snap-slide {
  scroll-snap-align: start;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.pixel-font {
  font-family: "Press Start 2P", cursive;
}

:root {
  --cherry-blossom-pink: #ffb7c5;
  --light-pink: #ffd1dc;
  --dark-cherry-blossom-pink: #ff85ad;
  --slithly-dark-cherry-blossom-pink: #ff9eb6;
  --light-cherry-blossom-pink: #ffccd3;
  --light-lavender: #e8d5f7;
  --accent-purple: #c59eff;
  --accent-pink: #ff85ad;
}

a,
button {
  transition: all 0.3s ease;
}
